body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    padding-left: 20px;
   
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.head-border{
    border-left: 5px solid tomato;
    border-radius: 5px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.flex-container{
    display: flex;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,red);
    padding: 10px;
    border-radius: 5px;
}
h2 {
    font-size: 40px;
}
div h2{
    text-align: center;
}
#second-part1{
    background-color: lightblue;
    margin: 20px;
    border-radius: 25px;
    padding: 25px;
}
#second-part2{
    background-color:sandybrown;
    margin: 20px;
    border-radius: 25px;
    padding: 25px;
}
#second-part3{
    background-color:lightskyblue;
    margin: 20px;
    border-radius: 25px;
    padding: 25px; 
}
.developer-limites{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center left;
}
.fourth-part{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 10%;
    margin-left: 20px;
}
#about-image{
    width: 120%;
    height: 100%;
    border-radius: 10px;;
}
.about-me{
    display: flex;
    padding-right: 20px;
}
footer{
    background-color: black;
}
footer h2{
    text-align: center;
    color: white;
    font-style: oblique;
    padding-top: 10px;

}
#footer-h2{
    color: tomato;
}
footer p{
    text-align: center;
    color: white;
    padding-bottom: 15px;
}